@{
    ViewData["Title"] = "Admin";
}
@model Bookland.Models.Books.BookViewModel


<div class="row justify-content-around">
    <div class="col-5 text-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                @if (Model != null)
                {
                    @foreach (var item in Model.Book)
                    {
                        <div class="col-md-4">
                            <img src="../assets/img/ElViento.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title pt-3">@item.Title</h5>
                                <p class="lead">@item.Author.AuthorName</p>
                                <p class="card-text lead fs-6">@item.Summary</p>

                                <a asp-asp-action="UpdateBook" asp-route-id="@item.Id" type="button"
                                    class="btn btn-warning mt-2"><i class="bi bi-pencil"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger mt-2"><i
                                        class="bi bi-trash3-fill"></i></a>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="lead">No hay libros disponibles en este momento.</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">

    <button type="button" class="btn btn-primary rounded-circle" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        <i class="bi bi-cloud-plus fs-2"></i>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">New Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-signin m-auto w-100">
                    <form class="g-5" asp-action="CreateUpdateForm">
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="nameBook" placeholder="Juan">
                            <label for="floatingInput" class="lead">Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="authorBook" placeholder="Perez">
                            <label for="floatingInput" class="lead">Author</label>
                        </div>
                        <div class="form-floating my-3">
                            <input type="text" class="form-control" id="descriptionBook" placeholder="Identification">
                            <label for="floatingInput" class="lead">Description</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
